<!--page container-->
      <div class="container-fluid">
        <div class="row">
            <!--sidebar-->
            <section class="col-sm-3">
                <div class="sidebar d-flex flex-column justify-content-center align-items-center">
                    <h2>Submit your message</h2>
                    <p class="choose">Choose a wall to post to:</p>
                    <form class="message-form" id="messageForm">

                        <select class="select-wall" name="wall-select" id="wall-select">
                            {{#each categories}}
                                <option value="{{id}}">{{category_label}}</option>
                            {{/each}}
                        </select>

                        <input class="message-input" type="textarea" id="message-body" name="message-body" maxlength="100">
                        <label>Select your font:</label>
                        <select class="select-style" name="font-select" id="font-select">
                            {{#each fonts}}
                                <option value="{{id}}">{{font_label}}</option>
                            {{/each}}
                        </select>

                        <label>Select your colour:</label>
                        <select class="select-style" name="colour-select" id="colour-select">
                            {{#each colours}}
                                <option value="{{id}}">{{colour_label}}</option>
                            {{/each}}
                        </select>
                        <input class="submit-button" type="submit" value="Submit">
                    </form>
                </div>  
            </section>
            <section class="col-sm-9">
                <div class="d-sm-flex align-items-center top-container">
                <select class="custom-select dropdownWall" id="mainWall">
                    {{#each categories}}
                        {{#if selected}}<option class="dropdown-item" value="{{id}}" selected="selected">{{category_label}}</option>{{/if}}
                        {{#unless selected}}<option class="dropdown-item" value="{{id}}">{{category_label}}</option>{{/unless}}
                    {{/each}}
                </select>
                <button class="fas fa-sync-alt refresh-button"></button>
                </div>
                <div class="quotes-section">
                    <div class="grid">
                        {{#each messages}} 
                            <div class="grid-item grid-item--width2">
                                <div style="{{colorCss}} {{fontCss}}">{{message_body}}</div>
                            </div>  
                        {{/each}}
                    </div>
                    
                </div>
            </section>
        </div>
      </div>

      